@model IEnumerable<AirportMaintenanceSystemProject.Models.AssignTask>

@{
    ViewBag.Title = "AssignTaskList";
}

<h2>Work Orders Assigned To Staff</h2>
<head>
    <link rel="stylesheet" href="@Url.Content("/Content/MasterCss.css")" />
</head>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Task)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Staff)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.OperationId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StaffId)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Task)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Staff)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.OperationId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StaffId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AssignTaskId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AssignTaskId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AssignTaskId })
        </td>*@
    </tr>
}

</table>
