@model IEnumerable<AirportMaintenanceSystemProject.Models.Item>

@{
    ViewBag.Title = "ItemList";
}

<h2>ItemList</h2>
<head>
    <link rel="stylesheet" href="@Url.Content("/Content/ItemList.css")" />
</head>

<p class="text-right">

    @Html.ActionLink("Add New Items", "AddNewItem", "AirportItem", new { @class = "btn btn-primary" })
</p>
@if (ViewBag.Message != null)
{

    <div class="alert alert-success" role="alert">
        @ViewBag.Message
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemCost)
        </th>
        <th></th>
    </tr>

    @if (Model != null && Model.Count() > 0)
    {

        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemCost)
                </td>
                <td>

                    @Html.ActionLink("Update Item Cost", "UpdateItemDetails", new { id = item.ItemId }, new { @class = "btn btn-primary" })
                    @*@Html.ActionLink("Details", "Details", new { id = item.ItemId }) |*@
                    @*@Html.ActionLink("Delete", "Delete", new { id = item.ItemId })*@
                </td>
            </tr>
        }
    }
    else
    {
        <td colspan="4" class="text-center"><b>No Data Available . Please Add Data By CLick On Create Button</b></td>

    }

</table>

